.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  grid-area: header;
  background-color: #6D4FB1;
  height: 60px;
}




body {
  margin: 0;
  
}
.cartt{
  color: aliceblue;
  position: absolute;
}


.container {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  
  padding-bottom: 0px;
  padding-top: 25px;

}

.card {
  margin: 10px;
  opacity: 0.9;
}
.card-header{
  background: lavender;
}


.btn2 {
  padding: 10px;
  display:block;
  background-color: white;
  color: black;
  text-align:center;
  position: absolute;
  top: 5px;
  right: 5px;
  
}

ul li:hover {
  display: block;
  color: black;
  background-color: #e4e6e8;
}